@import 'reset';

$primary-font-stack: 'Arvo', 'Open Sans', serif;
$secondary-font-stack: 'Oswald', 'Source Sans Pro', sans-serif;
$primary-color: #2E4172;
$secondary-color: #001952;
$third-color: #929292;
$link-color: #5B6782;













////////////////////
// GENERAL STYLES //
////////////////////

body {
    background-color: #F1EDEE;
}

.navbar {
    background-color: #8AA29E;
}



.btn {
  color: $primary-color;
  border: 1px solid $secondary-color;
}

button.navbar-right {
	margin-right: 20px;
}

.input-group {
	margin-top: 8px;
}

////////////////////////
//     FOR HIDING     //
////////////////////////

.hidden {
	display: none;
	visibility: hidden;
}

////////////////////////
//   SPLASH STYLING   //
////////////////////////

header#splash {
  text-align: center;
}

#splash img {
  opacity: 0.5;
  border-radius: 70%
}

h1 {
  font-family: $primary-font-stack;
  color: $primary-color;
  font-size: 5em;
}

///////////////////////////
//   LOGGED IN STYLING   //
///////////////////////////

.input-group {
	margin-left: 10px;
}

#login, #logout {
    margin-right: 2em;
}

.list-group button {
	display: inline-block;
}

h2 {
	margin-left: 15px;
}

	//////////////////
	// RATING STARS //
	//////////////////

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/////////// ratings slider

.ratings-bar-div{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#ratings-bar {
  margin: 3em 0;
}

////card styling
.col-md-4 {
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: scroll;
    border:2px solid #686963;
    background-color: #8AA29E;
}

.col-md-4 img {
    max-height: 70%;
}

.col-md-4 h3 {
    text-align: center;
}
