@import 'reset';

$primary-font-stack: 'Arvo', 'Open Sans', serif;
$secondary-font-stack: 'Oswald', 'Source Sans Pro', sans-serif;
$primary-color: #2E4172;
$secondary-color: #001952;
$third-color: #929292;
$link-color: #5B6782;


////////////////////
// GENERAL STYLES //
////////////////////

.btn {
  color: $primary-color;
  border: 1px solid $secondary-color;
}

button.navbar-right {
	margin-right: 20px;
}

.input-group {
	margin-top: 8px;
}

////////////////////////
//     FOR HIDING     //
////////////////////////

.hidden {
	display: none;
	visibility: hidden;
}

////////////////////////
//   SPLASH STYLING   //
////////////////////////

header#splash {
  text-align: center;
}

#splash img {
  opacity: 0.5;
  border-radius: 70%
}

h1 {
  font-family: $primary-font-stack;
  color: $primary-color;
  font-size: 5em;
}

///////////////////////////
//   LOGGED IN STYLING   //
///////////////////////////

.input-group {
	margin-left: 10px;
}

.list-group button {
	display: inline-block;
}

h2 {
	margin-left: 15px;
}

	//////////////////
	// RATING STARS //
	//////////////////

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

